fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
bcrypt==3.2.2
python-dotenv==1.0.1
alembic==1.13.1
python-multipart==0.0.9
pydantic==2.7.1
pydantic-core==2.18.2
cloudinary==1.36.0
slowapi==0.1.9
limits==3.6.0
bleach==6.1.0
requests==2.31.0